@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway.woff2');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url('../fonts/raleway-semibold.woff2');
}

@media screen and (max-width: 600px) {
    header h2 {
        visibility: hidden;
        display: none
    }
}

html {
    background-color: #FFF;
    height: 100%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: Raleway, sans-serif;
    line-height: 1.5;
    font-size: 17px;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin-top: 1.2em;
    margin-bottom: 0;
}

section {
    margin-top: 1.5em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, section:first-child {
    margin-top: 0;
}

p {
    margin-top: .5em;
    margin-bottom: 0;
}

hgroup > *:first-child {
    margin: 0 !important;
}

hgroup > *:last-child {
    margin-top: 0;
}

/* base layout */

header {
    /*overflow: hidden;*/
    width: 100%;
    background-color: #e20020;
    margin-bottom: 64px;
}

header img#logo {
    height: 100px;
    float: left;
    margin: 12px;
    position: relative
}

#logo-evil {
    height: 100px;
    float: right;
    margin: 12px;
    position: relative
}

header #header-bar {
    background-color: #e20020;
    min-height: 75px
}

header h1 {
    color: #fff;
    margin: 0;
    font-weight: 600;
    padding: 12px 0 0
}

header h2 {
    color: #fff;
    margin: 0;
    padding-bottom: 12px
}

main {
    max-width: 60ch;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 1000px;*/
    gap: 24px;
    justify-content: center;
    margin: 0 12px;
}

footer {
    background-color: #e20020;
    color: #fff;
    min-height: 50px;
    overflow: hidden;
    padding: 32px 12px;
    /*width: 100%;*/
    margin-top: 24px;
    font-size: 15px;
}

footer>div, header>div {
    max-width: 1000px;
    margin: 0 auto;
}

/* elements */

a {
    font-weight: 700;
    color: #e20020;
}

.event-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 4px 0 0;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 16px;

    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 12px;
}

.event > * {
    margin: 0;
}

.partner-badge > small {
    background: #ddd;
    padding: 2px 8px;
    border-radius: 999px;
}

ul.event-list li.event p.date_time:before {
    content: "\23F0   "
}

ul.event-list li.event p.venue:before {
    content: "\1F3E2   "
}

ul.event-list li.event:last-of-type {
    margin: 0
}

ul.event-list li.event .hidden {
    display: none;
}

ul#sponsor-list {
    list-style-type: none;
    padding: 0;
    float: none;
    margin: 0 0 12px
}

ul#sponsor-list li.sponsor-panel {
    margin: 0 0 12px;
}

ul#sponsor-list li.sponsor-panel img {
    margin-left: auto;
    margin-right: auto
}

ul#partner-list {
    list-style-type: none;
    padding: 0;
    float: none;
    margin: 0 0 12px
}

ul#partner-list li.partner-panel {
    margin: 0 0 12px;
}

ul#partner-list li.partner-panel img {
    margin-left: auto;
    margin-right: auto
}

div.twitter-container {
    float: none
}

details > *:nth-child(2) {
    margin-top: 12px;
}

.event > details {
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

summary {
    cursor: default;
}