@font-face {
    font-family: 'Raleway';
    src: url('../js/raleway.woff2');
}

@media screen and (max-width: 600px) {
    header h2 {
        visibility: hidden;
        display: none
    }
}

body {
    background-color: #fff;
    color: #000;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0
}

/* base layout */

header {
    overflow: hidden;
    width: 100%
}

header img#logo {
    height: 100px;
    float: left;
    margin: 12px;
    position: relative
}

header div#header-bar {
    background-color: #e20020;
    min-height: 75px
}

header h1 {
    color: #fff;
    margin: 0;
    padding: 12px 0 0
}

header h2 {
    color: #fff;
    margin: 0;
    padding-bottom: 12px
}

main {
    max-width: 60ch;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 1000px;*/
    gap: 16px;
    justify-content: center;
}

footer {
    background-color: #e20020;
    color: #fff;
    min-height: 50px;
    overflow: hidden;
    padding-top: 12px;
    text-align: center;
    width: 100%
}

/* elements */

a {
    font-weight: 700;
    color: #e20020;
    text-decoration: none
}

a.see-more-events {
    margin-top: 12px;
    display: block
}

ul.event-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.event-list li.single-event {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 0 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

ul.event-list li.single-event div.event-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 12px;
}

ul.event-list li.single-event div.event-header h3 {
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 0 12px;
}

ul.event-list li.single-event div.event-header div.partner-banner {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 12px;
}

ul.event-list li.single-event p {
    margin: 0 0 12px;
}

ul.event-list li.single-event p.date_time:before {
    content: "\23F0   "
}

ul.event-list li.single-event p.venue:before {
    content: "\1F3E2   "
}

ul.event-list li.single-event:last-of-type {
    margin: 0
}

ul.event-list li.single-event .hidden {
    display: none;
}

ul#sponsor-list {
    list-style-type: none;
    padding: 0;
    float: none;
    margin: 0 0 12px
}

ul#sponsor-list li.sponsor-panel {
    margin: 0 0 12px;
}

ul#sponsor-list li.sponsor-panel img {
    margin-left: auto;
    margin-right: auto
}

ul#partner-list {
    list-style-type: none;
    padding: 0;
    float: none;
    margin: 0 0 12px
}

ul#partner-list li.partner-panel {
    margin: 0 0 12px;
}

ul#partner-list li.partner-panel img {
    margin-left: auto;
    margin-right: auto
}

div.twitter-container {
    float: none
}

summary {
    margin-bottom: 12px;
}